.header a {
  text-decoration: none;
  color: white;
}

. header a:visited {
  color: white;
}

.header {
  height: 85px;
  background-color: #27e7a1;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: inherit;
  width: 1100px;
  margin: 0 auto;
}

.logo {
  display: inline-flex;
  align-items: center;
  height: inherit;
  width: 220px;
  font-family: ALeo;
  font-size: 28px;
  font-weight: 800;
  color: white;
}

.nav {
  display: inline-flex;
  align-items: center;
  width: 600px;
  height: inherit;
}

.nav-list {
  display: inline-table;
  font-family: Courier New, monospace;
  font-size: 15px;
  font-weight: 800;
  color: white;
}

.nav-list li {
  display: inline-block;
}

.nav-list li {
  margin-left: 75px;
}

.nav-list li:first-child {
  margin-left: 10px;
}

.lk-b {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: inherit;
  /* border: 1px solid blue; */
}

.search-block {
  /* border: 1px solid red; */
}

.user-avatar-block {
  margin-left: 30px;
  /* border: 1px solid yellow; */
}

.search-block input {
  border-radius: 5px;
 	border-color: #27e7a1;
}

.user-avatar {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #E7EAE9;
  border-radius: 50%;
}
